{% extends 'base.html'%}


{% block title_block %} about page {% endblock %}
{% block subTitele_block %}About Rahal{% endblock %}
{% block body_block %}

<style>
.box {
		margin-bottom: 2rem;
		background: #FFF;
		text-align: center;
		margin: 80px 150px;
		padding: 15px;

	}
</style>

<div class="box">
    <section >
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus adipisci repellat a ducimus non porro
                aspernatur tempore voluptatibus at tempora consectetur minus, iste architecto voluptate sapiente quidem recusandae
                perspiciatis sint
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus adipisci repellat a ducimus non porro
                aspernatur tempore voluptatibus at tempora consectetur minus, iste architecto voluptate sapiente quidem recusandae
                perspiciatis sint
            </p>
    </section>
</div>

{% endblock %}